@import url('CSS/reset.css');
@import url('CSS/layout.css');
@import url('CSS/typography.css');
@import url('CSS/masthead.css');

.menu-section
{
    padding-bottom: 2em;
    margin-bottom: 2m;
}

.menu ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #DCDDE1;
}

.menu a
{
    text-decoration: none;
    color: #353B48;
    padding: 0.6em 1em;
    display: block;
    transition: all 0.5s ease;
}

.menu a:hover
{
    background-color: #F5F6FA;
}

.menu-heading
{
    font-size: 2em;
    font-weight: normal;
}

@media screen and ( min-width: 600px )
{
    .single-nav ul
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }

    .single-nav li
    {
        flex-shrink: 0;
        flex-basis: auto;
        flex-grow: 1;

        /* flex: 0 auto 1; */
    }
}

@media screen and ( min-width: 600px )
{
    .advanced-nav ul
    {
        display: flex;
        flex-wrap: wrap;
    }

    .advanced-nav ul li
    {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 200px;
    }

    .advanced-nav ul li a
    {
        display: flex;
    }

    .advanced-nav ul li a .icon
    {
        flex-basis: 60px;
        font-size: 30px;
    }

    .advanced-nav ul li a .text
    {
        font-size: 25px;
        font-weight: bold;
    }

    .advanced-nav ul li a .text span
    {
        display: block;
        font-size: 15px;
        font-weight: 100;
        font-style: italic;
    }
}